* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

input {
    position: absolute;
    top: 0;
    left: 0;
}

:root {
    --corPrincipal: #eb4d4b;
    --corSecundaria: #111;
}